@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Inter", sans-serif;
}
:root {
  --search: #dce6f1;
  --header_text: rgba(0, 0, 0, 0.9);
  --font_header_icon_size: 1.28rem;
  --para_font_size: 0.64rem;
  --para_color: rgba(0, 0, 0, 0.6);
  --para_font_weight: 400;
  --header_font_weight: 600;
  --body_background: #e9e5df;
}

body {
  background-color: hsl(0, 0%, 0%);
}

.header {
  padding: 5px 150px;
  position: sticky;
  top: 0;
  display: flex;
  background-color: #35363a;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header_left {
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.header_left > img {
  object-fit: contain;
  height: 40px;
  filter: invert(10%);
}

.header_left > .search_box {
  background-color: #39434f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  width: 250px;
  border-radius: 5px;
  margin-left: 10px;
}

.logo {
  background-color: white;
  padding: 3px;
  width: 35px;
  height: 40px;
  align-content: center;
  border-radius: 3px;
}

.header_right_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_box > input[type="text"] {
  border: none;
  outline: none;
  color: white;
  background: transparent;
  height: 40px;
  margin-left: 10px;
  width: 300px;
}

.header_right {
  display: flex;
  flex-direction: row;
}

.nav_link {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6e6558;
  padding: 0px 18px;
}

.nav_link:hover {
  color: rgba(0, 0, 0);
  cursor: pointer;
}
.bi {
  font-size: var(--font_header_icon_size);
}

.nav_text {
  font-size: var(--para_font_size);
  padding: 2px 0px;
  color: hsla(0, 0%, 100%, 0.614);
}

.nav_icon {
  position: relative;
  font-size: var(--para_font_size);
}

.info {
  position: absolute;
  top: -6;
  right: -5;
  background-color: brown;
  color: white;
  padding: 1px 3px;
  font-weight: 600;
  border-radius: 6px;
}

.bi-search {
  font-size: 12px !important;
  font-weight: 600 !important;
  margin-left: 20px;
}

.right_nav_text {
  width: 130px;
  text-align: center;
  font-size: 0.64rem;
  color: hsla(0, 0%, 100%, 0.621);
}
:root {
  --message: rgba(0, 0, 0, 0.6);
  --border_color: rgba(0, 0, 0, 0.15);
  --para_color: rgba(0, 0, 0, 0.6);
}
.mainbody {
  margin: 25px 140px;
  display: grid;
  grid-template-columns: 20% 50% 25%;
  grid-gap: 16px;
  color: white;
}

.sidebar,
.posts,
.activity {
  padding: 10px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border: 2px solid var(--border_color);
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 5px;
}
.news {
  background-color: #1d2226;
}

.sidebar,
.activity {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.posts {
  background: transparent;
  padding: 0px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post_item {
  background-color: #1d2226;
  border: 2px solid var(--border_color);
  height: fit-content;
}
.post_item_header {
  padding: 10px;
}
.box1,
.act {
  height: 300px;
}

.profile {
  height: 50px;
  border-radius: 50%;
}

.post_input {
  width: 90%;
  padding: 15px;
  border: 1px solid hsla(0, 0%, 100%, 0.308);
  border-radius: 500px;
  outline: none;
  margin-left: 10px;
  background-color: #1d2226;
}

.post_input:hover {
  background: transparent;
}

.input_blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.input_option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post_box {
  padding: 15px;
  background-color: #1d2226;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  color: var(--para_color);
  font-weight: 400;
}
.input_text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.option {
  margin-right: 10px;
}

.post_item {
  margin-bottom: 10px;
}
.input_option {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  color: white;
}
.input_option {
  background: rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.post_item_owner > a {
  text-decoration: none;
  color: white;
  font-size: 1.12rem;
  font-weight: 600;
}
.post_item_owner > a:hover {
  color: blue;
}

.post_item_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post_item_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_item_body_info {
  padding-left: 10px;
  padding-right: 10px;
}

.post_item_body_info > p {
  font-size: 0.64rem;
}
.post_item_header > i:hover {
  cursor: pointer;
  background-color: lightgray;
  border-radius: 500px;
}

.post_item_body_info > p {
  padding: 10px 0px;
  font-size: 0.84rem;
  color: white;
}

.post_item_body_video > video {
  object-fit: contain;
  width: 400px;
}

.post_item_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid lightgray;
  flex-wrap: wrap;
}

.post_item_footer > .footer_item {
  margin-right: 10px;
  color: white;
  font-size: 0.64rem !important;
}

.footer_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer_item:hover {
  background-color: lightgrey;
  padding: 10px;
  cursor: pointer;
}

.footer_item > i {
  font-weight: 600;
  color: var(--message);
  font-size: 0.96rem;
  margin-right: 5px;
}

.post_item_comment_info {
  margin: 4px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.post_item_comment_info > span {
  line-height: 2;
  margin-left: 10px;
  font-size: 12px;
}

:root {
  --message: rgba(0, 0, 0, 0.6);
  --message_font_size: 0.64rem;
  --sidebar_title_size: 0.64rem;
  --message_font_weight: 500;
  --list_background: hsla(36, 19%, 89%, 0.742);
}

.sidebar {
  padding: 0 !important;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.profile_header {
  background-image: url("/images/back-img.jpg");
  height: 60px;
}

.sidebar_first_col > .profile_info {
  text-align: center;
  padding: 0px 20px;
  padding-bottom: 10px;
}
.profile_info p {
  color: var(--list_background);
}

.sidebar_first_col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #1d2226;
  margin-bottom: 10px;
  width: 100%;
  color: var(--list_background);
}

.profile_info > p {
  padding: 2px;
}

.connections {
  padding: 8px;
  width: 100%;
}
.viewed {
  padding: 8px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sidebar_footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar_footer > i {
  margin-right: 10px;
  font-size: medium;
}

.sidebar_access {
  padding: 10px;
  font-size: var(--sidebar_title_size);
  border-left: none;
  width: 100%;
  color: var(--list_background);
  border-right: none;
}
.sidebar_access div {
  color: hsla(0, 0%, 100%, 0.63);
}

.sidebar_second_col {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.15);
  gap: 3px;
  background-color: #1d2226;
  color: var(--list_background);
}

.title_text:hover {
  text-decoration: underline;
}

.sidebar_title {
  margin: 10px;
  font-size: var(--message_font_size);
}
.sidebar_second_text {
  padding: 3px 3px;
  font-size: 0.64rem;
  color: hsla(0, 0%, 100%, 0.63);
  font-weight: 500;
}

.sidebar_second_col,
.sidebar_first_col {
  border-radius: 8px;
}

.about {
  color: hsla(0, 0%, 100%, 0.514);
  margin-top: 20px;
  line-height: 25px;
  padding: 0px 20px;
}
.about p {
  display: flex;
  justify-content: space-between;
  font-size: 10.4px;
}
:root {
  --message: rgba(0, 0, 0, 0.6);
  --message_font_size: 0.64rem;
  --message_title_size: 0.72rem;
  --message_font_weight: 600;
  --list_background: #e9e5df;
}
.new_list {
  background-color: #1d2226;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 6px 2px;
  width: 100%;
}
.news-a {
  width: 100%;
  margin-bottom: 18px;
}
.news-a img {
  object-fit: contain;
  width: 100%;
}
.news-b {
  padding: 0px 17px;
  width: 100%;
  color: white;
}
.news-b p {
  display: flex;
  justify-content: space-between;
  font-size: 11.2px;
}
.com-wraper {
  display: flex;
  gap: 10px;
  font-size: 10.4px;
  line-height: 20px;
  color: white;
}
.new_list .com {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: #e9e5df;
  border-radius: 50%;
}
.new_list .profile {
  width: 35px;
  height: 35px;
}

.new_list p {
  font-size: 11.2px;
  color: hsla(0, 0%, 100%, 0.708) !important;
}
.new_list button {
  background: transparent;
  border: 1.5px solid hsla(0, 0%, 100%, 0.708);
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  color: white;
  width: 100px;
  height: 35px;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-top: 9px;
  padding: 0px 10px;
  text-transform: capitalize;
}
.new_list button img {
  filter: invert(100%);
  width: 15px;
  height: 15px;
}

.com-image {
  width: 20px;
  height: 20px;
}
.activity {
  background-color: transparent;
  border: none;
}

.act_title {
  font-size: va(--message_title_size);
  font-weight: var(--message_font_weight);
}


.news {
  border: 2px solid var(--border_color);
  height: fit-content;
  margin-bottom: 15px;
  background-color: #1d2226;
  border-radius: 8px;
  padding-bottom: 10px;
}

.news_title {
  font-weight: var(--message_font_weight);
  color: white;
}
.info-square-fill {
  color: white;
  filter: invert(100%);
}
.account_name {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.64rem;
}

.account_feed {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  padding: 10px 5px;
  border-bottom: 1px solid lightgray;
  flex-wrap: wrap;
}
.account_picture {
  height: 40px;
  object-fit: contain;
}
.account_info {
  margin-left: 5px;
}
.follow {
  padding: 5px;
  text-align: center;
  font-size: var(--message_font_size);
  font-weight: 500;
  margin-top: 5px;
  border-radius: 50px;
  border: 1px solid black;
}

.follow:hover {
  background-color: var(--list_background);
  cursor: pointer;
}

.news_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
}

.small_screen {
  display: none;
}

.option_text {
  font-size: 0.72rem;
  font-weight: var(--message_font_weight);
}
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  height: fit-content;
  padding: 5px 0px;
  position: absolute;
  left: -190px;
  background-color: #1d2226;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 250px;
}

.dropdown .title {
  font-size: var(--message_title_size);
  font-weight: 600;
  padding: 10px;
  padding-bottom: 5px;
}
.list {
  padding: 8px 10px;
  font-size: small;
}

.list:hover {
  text-decoration: underline;
  background-color: var(--list_background);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.bdr_bottom {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.15);
}

.dropdown_profile {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 10px;
}

.profile_view_button {
  border: 1px solid blue;
  text-align: center;
  padding: 5px;
  margin: 10px;
  border-radius: 500px;
}

@media screen and (max-width: 650px) {
  .sidebar,
  .activity {
    display: none;
  }
  .mainbody {
    margin: 0px 5px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .header {
    margin: 0px;
    padding: 10px;
  }
  .nav_text {
    display: none;
  }

  .search_input {
    display: none;
  }
  .search_box {
    background-color: #1d2226;
  }

  .height_right_2 > .nav_link,
  .right_nav_text {
    display: none;
  }
  .small_screen {
    display: block;
    padding: 5px;
    border-radius: 50px;
  }
  .small_screen:hover {
    background-color: #1d2226;
    cursor: pointer;
  }
  .bi-grid-3x3-gap-fill {
    display: none;
  }

  .post_box {
    margin-top: 20px;
  }

  .drop {
    display: block !important;
  }

  body::-webkit-scrollbar {
  }
}

@media screen and (min-width: 650px) and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .header {
    margin: 0px;
    padding: 10px;
  }
  .mainbody {
    display: grid;
    margin: 0px 10px;
    margin-top: 15px;
    grid-template-columns: 1fr 0.5fr;
  }
  .small_screen {
    display: block;
    padding: 5px;
    border-radius: 50px;
  }
  .search_input {
    display: none;
  }
  .search_box {
    background-color: #1d2226;
  }

  .right_nav_text {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 649px) {
  .jobs,
  .network {
    display: none;
  }
}